@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --muted-foreground: #a1a1aa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.bg-background {
  background-color: var(--background);
}
.text-foreground {
  color: var(--foreground);
}
.text-muted-foreground {
  color: var(--muted-foreground);
}
